@using NetProductivity.Controllers
@model Dictionary<string, List<TaskP>>

@{
    ViewBag.Title = "Goals -";
    Layout = "_Layout";
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
}

<main>
    <header>
        <span><i class="fa fa-arrow-left"></i><span class="sr-only">Back</span></span>
        <h3>Today</h3>
        <div class="task-indicators">
            <span><i class="fa fa-check"></i>@Model.Keys.Count</span>
        </div>
    </header>
    <input  type="button" class="btn btn-default btn-outline-dark" value="Add project" onclick="window.location.href='@Url.Action("СreateProject", "Productivity")'"/>
    @if (Model.Keys.Count != 0)
    {
 <section class="task-list current">
    @foreach (var task in Model)
    {
        if (ProductivityController.IsActive(task.Key)) {
        <ul>
            <li>
                <div>
                    <span>@task.Key</span>
                    @{var key = task.Key; }

                    <a asp-controller="Productivity" asp-action="UpdateProject" asp-route-name="@key">Edit</a>
                    <a asp-controller="Productivity" asp-action="DeleteProject" asp-route-name="@key">Delete</a>

                    <input type="button" class="btn2 btn-default btn-outline-dark" value="Add task" onclick="window.location.href='@Url.Action("СreateTask", "Productivity")'" />
                </div>
            </li>        
        </ul>
        ProductivityController.CurrentProj = task.Key;
        <hr/>
        <ul>
            @if (task.Value.Count != 0)
            {
                foreach (var proj in task.Value)
                {
                    <li>

                        <div class="checkbox">
                            <div class="check">
                                <input type="checkbox" name="task_00">
                                <div class="ripple-container">
                                    <div class="check-off"></div>
                                    <div class="check-on"><i class="fa fa-check"></i></div>
                                    <div class="check-ripple"></div>
                                </div>
                            </div>

                            <div class="label">
                                <mark>@proj.Name</mark>
                                <br>
                                <time datetime="05-12-2016">@proj.EndDate</time>
                            </div>
                        </div>
                        <div>
                            @{
                                var taskId = proj.Id;
                            }
                            <a asp-controller="Productivity" asp-action="UpdateTask" asp-route-name="@taskId">Edit</a>
                            @Html.ActionLink("Delete", "DeleteTask", "Productivity", @taskId)
                            @*<a asp-controller="Productivity" asp-action="DeleteTask" asp-route-name="@taskId">Delete</a>*@
                        </div>
                        <span class="task-msg">Well done!</span>
                    </li>
                    ProductivityController.CurrentTaskId = proj.Id;
                }
            }
            else
            {
                ProductivityController.CurrentProj = task.Key;
                <div class="content2">NO TASKS? <a asp-controller="Productivity" asp-action="СreateTask">CREATE ONE</a></div>
            }
        </ul>
        <br/>
            <hr id="second"/>
         }
    }
</section>

 <section class="task-list notcurrent">
     @foreach (var task in Model)
     {
         if (!ProductivityController.IsActive(task.Key))
         {
             <ul>
                 <li>
                     <div>
                         <span>@task.Key</span>
                         @{var key = task.Key; }
                         <a asp-controller="Productivity" asp-action="UpdateProject" asp-route-name="@key">Edit</a>
                         <a asp-controller="Productivity" asp-action="DeleteProject" asp-route-name="@key">Delete</a>

                         <input type="button" class="btn2 btn-default btn-outline-dark" value="Add task" onclick="window.location.href='@Url.Action("СreateTask", "Productivity")'" />
                     </div>
                 </li>
             </ul>
             ProductivityController.CurrentProj = task.Key;
             <hr />
             <ul>
                 @if (task.Value.Count != 0)
                 {
                     foreach (var proj in task.Value)
                     {
                         <li>

                             <div class="checkbox">
                                 <div class="check">
                                     <input type="checkbox" name="task_00">
                                     <div class="ripple-container">
                                         <div class="check-off"></div>
                                         <div class="check-on"><i class="fa fa-check"></i></div>
                                         <div class="check-ripple"></div>
                                     </div>
                                 </div>

                                 <div class="label">
                                     <mark>@proj.Name</mark>
                                     <br>
                                     <time datetime="05-12-2016">@proj.EndDate</time>
                                 </div>
                             </div>
                             <div>
                                 @{
                                     var taskId = proj.Id;
                                 }

                                 <a asp-controller="Productivity" asp-action="UpdateTask" asp-route-name="@taskId">Edit</a>

                                 <a asp-controller="Productivity" asp-action="DeleteTask" asp-route-name="@taskId">Delete</a>
                             </div>
                             <span class="task-msg">Well done!</span>
                         </li>
                         ProductivityController.CurrentTaskId = proj.Id;
                     }
                 }
                 else
                 {
                     ProductivityController.CurrentProj = task.Key;
                     <div class="content2">NO TASKS? <a asp-controller="Productivity" asp-action="СreateTask">CREATE ONE</a></div>
                 }
             </ul>
             <br />
             <hr id="second" />
         }
     }
     
 </section>
    }
    else
    {
        <div class="content">NO ITEMS? <a asp-controller="Productivity" asp-action="СreateProject">CREATE ONE</a></div> 

        <section class="one">
            <div class="wrapper"></div>
        </section>

        <section class="two">
            <div class="wrapper"></div>
        </section>

        <section class="three">
            <div class="wrapper"></div>
        </section>

        <section class="four">
            <div class="wrapper"></div>
        </section>
    }
        </main >
    
<script>
    (function($) {

        /* Select the checkbox */
        var checkList = $('.check'),
            toDoCheck = checkList.children('input[type="checkbox"]');

        /* Check out whether checkbox is checked, and add 'task-checked' class to
          the closest <li> item
        */
        toDoCheck.each(function(index, element) {
            var $this = $(element),
                taskItem = $this.closest('li');

            $this.on('click', function(e) {
                taskItem.toggleClass('task-checked');
            });
        });

    });
</script>